@media screen and (max-width: 1368px){
    .inner-container{
        flex-direction: column;
    }
    .a{
        height: 200px;
    }
.bcdefg-container{
    width: 100%;
    height: 300px;
}
.h {
    width: 100%;
    height: 300px;
}
.box{
    width: 33.3%;
    height: 150px;
}
}